{{ define "content" }}
<main class="p-4 sm:ml-64">
  <div class="overflow-x-auto max-w-5xl">
    <h1 class="text-2xl font-semibold text-gray-900 dark:text-white mb-6">
      Stations
    </h1>
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 sm:rounded-lg overflow-hidden"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">ID</th>
          <th scope="col" class="px-6 py-3">Code</th>
          <th scope="col" class="px-6 py-3">Owner</th>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Visit</span>
          </th>
        </tr>
      </thead>
      <tbody class="last:border-b-0">
        {{range .Stations}}
        <tr
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ .ID }}
          </th>
          <td class="px-6 py-4">{{ .Code }}</td>
          <td class="px-6 py-4">{{ .Owner }}</td>
          <td class="px-6 py-4">
            {{ if .Name }} {{ .Name }} {{ else }}
            <span class="text-gray-500">N/A</span>
            {{ end }}
          </td>
          <td class="px-6 py-4 text-right">
            <a
              href="/stations/{{ .ID }}"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Visit</a
            >
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</main>
{{ end }}
