<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Station.Code}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body class="bg-gray-100 dark:bg-gray-900 p-6">
    <div class="relative overflow-x-auto max-w-5xl mx-auto">
      <h1 class="text-2xl font-semibold text-gray-900 dark:text-white mb-6">
        Station {{.Station.Code }}
      </h1>
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 sm:rounded-lg overflow-hidden"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Ware</th>
            <th scope="col" class="px-6 py-3">Type</th>
            <th scope="col" class="px-6 py-3">Price</th>
            <th scope="col" class="px-6 py-3">Amount</th>
          </tr>
        </thead>
        <tbody>
          {{range .TradeOffers}}
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{.Ware}}
            </th>
            <td class="px-6 py-4">{{.Offertype}}</td>
            <td class="px-6 py-4">{{.Price}}</td>
            <td class="px-6 py-4">{{.Amount}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </body>
</html>
